.container-terms h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.75rem;
  letter-spacing: -0.02em;
  padding: 2rem 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.container-terms h3 {
  /* font-family: Satoshi; */
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.02em;
  text-align: left;
}
.container-terms h5 {
  /* font-family: Satoshi; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.02em;
  text-align: left;
}
.container-terms {
  padding-top: 0.5rem;
  padding-bottom: 5rem;
}
@media screen and (max-width: 600px) {
  .container-terms h1 {
    font-size: 2.25rem;
    line-height: 2.8125rem;
    letter-spacing: -0.02em;
  }
}
